.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 18px 0px;
  border-top: 1.5px solid rgba(0, 0, 0, 0.025);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  background: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  position: absolute;
  color: white;
  font-weight: 100;
  left: 17px;
  bottom: 15px;
}

#jum {
  background-color: tomato;
  display: flex;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
