.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f9f9fa;
  padding: 18px 0px;
  border-top: 1.5px solid rgba(0, 0, 0, 0.025);
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__link:not(.screen-header__link) {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 17px;
  bottom: 15px;
}

.this-is__homework {
  left: 25px;
  bottom: 25px;
  position: absolute;
}
