.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span:not(.dot) {
  margin-left: 25px;
}

.screen-header__icons {
  position: relative;
}

.dot:not(.this-is__homework) {
  right: -10px;
  top: -10px;
  position: absolute;
}
